@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
.row-1{
    justify-content: center;
    margin-top: 6em;
     font-size: 2em;
     font-family: 'JetBrains Mono', monospace;
}
.row-2{
  display: flex;
  justify-content: center;
 margin-top: 2em;
}
.row-3{
    justify-content: center;
    margin-top: 1.5em;
    font-size: 2em;
}